<!DOCTYPE html>
<html data-ng-app="myApp" lang="en" xmlns:="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width" />


    <title>Coprii | New User</title>
    <!-- Styles-->
    <link rel="shortcut icon" href="../static/dist/images/favicon.ico" th:href="@{/images/favicon.ico}" type="image/x-icon"/>
    <link rel="icon" href="../static/dist/images/favicon.ico" th:href="@{/images/favicon.ico}" type="image/x-icon"/>
    <link rel="stylesheet" href="../dist/css/bootstrap.css" th:href="@{/css/bootstrap.css}"/>

    <!-- Js Scripts-->
    <script src="../static/dist/js/angular.min.js" th:src="@{/js/angular.min.js}"></script>
    <script src="../static/dist/js/ui-bootstrap-tpls-2.5.0.min.js" th:src="@{/js/ui-bootstrap-tpls-2.5.0.min.js}"></script>
</head>

<body data-ng-controller="indexController as ctrl" style="height:100%; padding-top:55px;" >
<!-- Navbar -->
<header th:include="_menu :: navbar-menu" />
<!-- Colapse Menu Right -->
<div th:include="_menu :: colapse-menu" />

<div class="content-wrapper container-fluid">
    <div class="container-fluid">
        <div class="clearfix">
            <h1><i class="glyphicon glyphicon-user"></i> Add new user</h1>
            <hr/>



                <div class="panel-heading clearfix ">
                    <h2 class="panel-title pull-left"><i class="fic glyphicon glyphicon-pencil"></i> New user</h2>
                </div>


                <form class="form-horizontal" th:action="@{/user/add-user}" th:object="${user}" method="post" style="padding-left:15px; padding-right:15px; padding-top: 15px;">
                    <div class="form-group" >
                        <label class="col-md-2 control-label">Vorname :</label>
                        <div class="col-xs-6" >
                            <input type="text" class="form-control"  placeholder="Vorname" name="firstName" />

                            <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Firstname error</span>
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-md-2 control-label" >Nachname :</label>
                        <div class="col-xs-6">
                            <input type="text" class="form-control"  placeholder="Nachname" name="lastName"
                                   />
                            <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last error</span>
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-md-2 control-label">Login :</label>
                        <div class="col-xs-6">
                            <input type="text" class="form-control"  placeholder="Login" name="username"
                                   />
                            <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Login error</span>
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-md-2 control-label" >Password :</label>
                        <div class="col-xs-6">
                            <input type="password" class="form-control"   placeholder="Password" name="password"
                                   />
                            <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Firstname error</span>
                        </div>

                    </div>

                    <!--<div class="form-group">
                        <label class="col-md-2 control-label">Role :</label>
                        <div class="col-xs-4">
                        <select class="form-control" name="role" >
                            <option value="ROLE_USER">USER</option>
                            <option value="ROLE_ADMIN">ADMIN</option>
                        </select>
                        </div>
                    </div>-->
                    <button type="submit" class="btn btn-primary pull-right active form-control ">Speichern</button>

                </form>




        </div>
    </div>
</div>

</body>
</html>